<!doctype html>
<html class="no-js" lang=""><!-- Online page at {{ fallbackUrl }} -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>{{ css | raw }}</style>
</head>
<body>
<div class="container">
    {{ bodyHtml | raw }}
    {{ subcommandHtml | raw }}
    {{ globalParametersHtml | raw }}
</div>
</body>
</html>
